/* ----------- common css ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btnColor: #e02c6d;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px 24px;
  background-color: var(--btnColor);
}
/* ----------- main css --------- */
/* logos styles */
#logos {
  margin: 100px 0px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-content: center;
}

/* featured styles */
#featured {
  margin: 100px 0px;
}

#featured .featured-container {
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.featured-left img {
  border-radius: 7px;
}

.featured-right {
  max-width: 610px;
}

.featured-right h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 16px;
}

.featured-right p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: #6c6c6c;
  margin-bottom: 16px;
}

/* footer style */
footer {
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  background-color: #0a0826;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
  font-style: italic;
}

footer ul {
  margin-top: 17px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

footer ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.288);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease-in-out;
}

footer ul li:hover {
  border: 2px solid #fff;
}

footer ul li a {
  color: #fff;
  font-size: 1.25rem;
}

.hide {
  display: none;
}
/* --------------- responsive mobile device ------------ */
@media screen and (max-width: 576px) {
  /* logos responsive */
  #logos {
    margin: 50px 0px;
  }

  .logo-container {
    gap: 30px;
  }

  /* featured responsive */
  #featured {
    margin: 50px 0px;
  }
  #featured .featured-container {
    text-align: center;
    flex-direction: column-reverse;
  }

  .featured-right h2 {
    font-size: 1.5rem;
    line-height: normal;
  }

  .featured-right p {
    margin-bottom: 30px;
  }

  /* footer responsive */
  footer h3 {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.75rem;
  }

  footer ul li a {
    font-size: 1rem;
  }
}
