/* ----------- common css ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btnColor: #e02c6d;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ----------- main css --------- */

/* footer style */
footer {
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  background-color: #0a0826;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
  font-style: italic;
}

footer ul {
  margin-top: 17px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

footer ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.288);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease-in-out;
}

footer ul li:hover {
  border: 2px solid #fff;
}

footer ul li a {
  color: #fff;
  font-size: 1.25rem;
}

/* --------------- responsive mobile device ------------ */
@media screen and (max-width: 576px) {
  footer h3 {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.75rem;
  }

  footer ul li a {
    font-size: 1rem;
  }
}
