/* ----------- common css ------------ */
@import url(./responsive.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btnColor: #e02c6d;
}

body {
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ----------- main css --------- */
