/* ----------- common css ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btnColor: #e02c6d;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px 24px;
  background-color: var(--btnColor);
}

/* ----------- main css --------- */
/* navbar styles */
nav {
  margin-top: 87px;
  margin-bottom: 40px;
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-container h2 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

.nav-container ul {
  display: flex;
  gap: 34px;
  align-items: center;
}

.nav-container ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

/* hero styles */
.hero-container {
  display: flex;
  gap: 130px;
  align-items: center;
}

.hero-container .left-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-container .left-content p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-container .left-content > button {
  border-radius: 20px;
}

.hero-container .right-content {
  height: 475px;
  width: 50%;
  position: relative;
}

.hero-container .right-content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* logos styles */
#logos {
  margin: 100px 0px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-content: center;
}

/* popular styles */
#popular h2 {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

#popular .popular-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.popular-content .popular-card {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.15);
}

.popular-card h4 {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin: 16px 0 6px;
}

.popular-card .dolar-p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

.popular-card .common-p {
  color: #787885;
  font-size: 14px;
  letter-spacing: 1.8px;
  line-height: 24px;
  font-weight: 700;
}

.popular-card .common-p .star {
  margin-top: 5px;
  font-size: 25px;
  color: rgba(255, 166, 0, 0.897);
}

#popular .container > p {
  margin-top: 50px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: rgba(224, 44, 110, 0.87);
}

/* featured styles */
#featured {
  margin: 100px 0px;
}

#featured .featured-container {
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.featured-left img {
  border-radius: 7px;
}

.featured-right {
  max-width: 610px;
}

.featured-right h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 16px;
}

.featured-right p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: #6c6c6c;
  margin-bottom: 16px;
}

/* footer style */
footer {
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  background-color: #0a0826;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
  font-style: italic;
}

footer ul {
  margin-top: 17px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

footer ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.288);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease-in-out;
}

footer ul li:hover {
  border: 2px solid #fff;
}

footer ul li a {
  color: #fff;
  font-size: 1.25rem;
}

.hide {
  display: none;
}
/* --------------- responsive mobile device ------------ */
@media screen and (max-width: 576px) {
  nav {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  nav .nav-container {
    flex-direction: column;
  }

  nav .nav-container h2 {
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .nav-container ul {
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .hero-container {
    gap: 14px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-container .left-content h1 {
    font-size: 28px;
    line-height: normal;
  }

  .hero-container .left-content p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .hero-container .right-content {
    width: 90%;
  }

  #logos,
  #featured {
    margin: 50px 0px;
  }

  .logo-container {
    gap: 30px;
  }

  #popular .popular-content {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  #featured .featured-container {
    text-align: center;
    flex-direction: column-reverse;
  }

  .featured-right h2 {
    font-size: 1.5rem;
    line-height: normal;
  }

  .featured-right p {
    margin-bottom: 30px;
  }

  footer h3,
  footer ul li a {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.75rem;
  }
}
